@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nova Square", cursive;
}

#answer-feedback {
  scrollbar-width: none; /* Firefox */
  cursor: grab;
}

#answer-feedback::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

input[type="radio"] {
  accent-color: red;
}

.cursor-grabbing {
  cursor: grabbing;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#matrixCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  z-index: -1;
}
